body {margin: 0; background-color: #111122; color: white; position: relative; }

/* Header Toolbar */
div#header {position: relative; display: inline-block; float: left; width: 100%; font-family: sans-serif;}
div#header div#menu-container { float: right; width: 100%; overflow: hidden; z-index: 99999;}
div#header div#menu-container ul { list-style-type: none; margin: 0 0 0.625em; padding: 0; text-align: center;}
div#header div#menu-container ul li { display: inline-block; border-bottom: 0.25em solid #484854; margin: -0.16em; height: auto; font-size: 1em;}
div#header div#menu-container ul li a { text-decoration: none; color: #ffffff; font-size: 1.125em; padding: 1.25em 1.25em 1.25em; display: block;}
div#header div#menu-container ul li:not(.search) a:hover { background-color: #43438C;}
div#header div#menu-container ul li.selected { border-bottom: 0.375em solid #6084f0;}
div#header div#menu-container ul li.selected a { padding-bottom: 1em;}
div#header div#menu-container ul li a { padding-bottom: 19px;}
div#header div#menu-container ul li.search a { display: inline;}
div#header div#menu-container ul li.search { padding-bottom: 1em !important;}
div#header div#menu-container ul li.search input { display: inline; width: 15em; margin: 0 0.5em 0.2em 0.6em;}
div#header div#menu-container ul li.search div {
    position: relative; display: inline-block; width: 1.65em; height: 1.65em; border-radius: 0.188em;
    background-color: #bbbbbb;  cursor: pointer; top: 0.1em; margin-right: 0.6em;}
div#header div#menu-container ul li.search div img {position: relative; top: 0.19em;}
div#header div#menu-container ul li.search:hover,
div#header div#menu-container ul li.search.selected { padding-top: 0.938em; background-color: #43438C;}
div#header div#menu-container ul li.search { padding: 0.875em 1.125em 1em 1.125em;}

/* Header elements */
div#title { position: relative; width: 100%; height: auto; display: inline-block;}
div#title h1 { font-weight: normal; text-align: center; font-size: 3.8em; margin: 0.5em 0 0.6em; font-family: Copperplate Gothic Light;}

div#courseSearch { text-align: center;}
div#courseSearch input { display: inline; border-style: none; border-radius: 0.45em; width: 17em; padding-left: .5em; height: 1.25em; font-size: 1.5em; margin-right: 0.5em;}
div#courseSearch div { display: inline-block; width: 1.875em; height: 1.875em; background-color: #bbbbbb; position: relative; border-radius: 0.3em; top: -0.2em; cursor: pointer;}
div#courseSearch div img { position: relative; top: 0.3em;}

.hidden {display: none;}